navHeight = 0.4rem
lowBGC = #eeeeee
baseColor = rgb(55,155,255)
grayColor = #666666
grayWeightColor = #999999
// 379bff


fontSizeSmall = 0.16rem 
fontSizeMin = 0.12rem

activeColor = rgb(240,58,58)


ellipsis()
  overflow: hidden
  white-space: nowrap
  text-overflow: ellipsis