navHeight = 0.4rem
lowBGC = #eeeeee
baseColor = rgb(55,155,255)
grayColor = #666666
grayWeightColor = #999999
// 379bff
fontSizeBigger = 0.22rem
fontSizeBig = 0.20rem
fontSizeCom = 0.18rem 
fontSizeSmall = 0.16rem 
fontSizeMin = 0.12rem

activeColor = rgb(240,58,58)


ellipsis()
  overflow: hidden
  white-space: nowrap
  text-overflow: ellipsis